nav{font-size:medium;}
h3{color:	#3a9ab8;}
h4{color:#5bc0de;}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; 
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #292b2c;
  color: white;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  /* background: #5cb85c; */
  background: 	#01bff8;
  transition: 0.4s
}

.nav-item:hover::after {
  width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: white
}

.nav-link {
  /* padding: 25px 5px; */
  transition: 0.2s
}

