<!doctype html>

<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <title> Text Summarizer </title>

        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css'%}" >

    </head>

    <body>

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top"> -->
        <!-- <a class="navbar-brand" href="#">Text Summarizer</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"> -->
            <span class="navbar-toggler-icon"></span>
        </button>
    
            <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
             <div class="collapse navbar-collapse" id="navbarsExampleDefault">   
                <ul class="navbar-nav mr-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active"  href="/model"> Text Summarizer <span class="sr-only"></span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contact"> Contact </a>
                    </li>
                </ul>

                <!-- <form class="form-inline my-2 my-lg-0"> -->
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                  </form>

            </div>    
    </nav>

    <center><h3 style="padding-top: 2%"> <br><br> Text Summarizer<br></h3></center> 

    <div class="container-lg" style="padding-left: 20%;
    padding-right: 20%;
    padding-top:2%;">

        <form action = 'summarizer' method = 'POST' >{%csrf_token %}
            <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"><h5>Enter text or a website URL to be summarized:</h5></label>
           <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Type in your text here... (it must contain at least one sentence, or start with 'http' in the event of website)..."rows="16" name = 'input'></textarea>
            </div>
            <center><button type="submit" class="btn btn-info" href="/summarizer" >Summarize</button></center>  
        </form>  

    </div>   

    <footer class="footer">
        <div class="container">
            <span class="text-muted">*Copy Right Reserved.  Please contact me for more information</span>
        </div>
    </footer>




{% endblock %}    



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

</html>

